@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none !important;
  font-family: 'Bebas Neue', cursive; }

/**************************************************************** Header ***********************************************************************/
header {
  grid-row: 1;
  background-color: rgba(53, 53, 53, 0.9);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  header a {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    header a .header__logo, header a .header__logoIndex {
      max-width: 100%;
      max-height: 90%; }

/*************************************************Personalización de navbar bootstrap**************************************************************/
nav {
  grid-row: 2;
  background-color: rgba(86, 86, 86, 0.75);
  padding: 0 !important;
  min-height: 4.5vh;
  z-index: 100; }
  nav a {
    font-size: 3.5vh !important;
    color: #dddcdc !important; }

.navbar-toggler {
  height: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(34, 34, 34, 0.75) !important;
  width: 10vh;
  box-shadow: none !important;
  padding: 0 !important;
  border: 0 !important;
  border-radius: 0.5vh !important;
  outline: 1px solid rgba(255, 255, 255, 0.25) !important; }
  .navbar-toggler:hover {
    outline: 0.5vh solid #c77509 !important; }

.navbar-toggler-icon {
  height: 4vh !important;
  background-size: contain !important; }

.nav-link {
  padding: 0 !important;
  margin: 0 5vh;
  min-height: 4.5vh;
  line-height: 4.5vh; }

.dropdown-menu {
  padding: 0 !important; }

.dropdown-item {
  padding: 1vh !important;
  font-size: 3vh !important; }
  .dropdown-item:active {
    background-color: inherit !important; }

.dropdownLink {
  margin-right: 0; }

.dropdownButt {
  margin-left: 0; }

.dropdown-divider {
  border: 1px solid #757575;
  margin: 0 !important;
  border-top: 0 !important; }

.nav-item {
  min-height: 4.5vh;
  line-height: 4.5vh;
  transition-duration: 0.5s; }

.nav-item:hover {
  background-color: #353535; }

/**************************************************************** Footer ************************************************************************/
footer {
  grid-row: 4;
  background-color: rgba(27, 27, 27, 0.75);
  display: flex;
  justify-content: center;
  align-items: center; }
  footer a {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 6vh; }
    footer a .footer__logos {
      height: 90%;
      opacity: 0.75; }
      footer a .footer__logos:hover {
        opacity: 1; }

/********************************************************* Index.html **************************************************************************/
/*header 20vh de altura*/
/*nav 4.5vh de altura*/
/*main 68.5vh de altura*/
/*footer 7vh de altura*/
/*TOTAL 100vh*/
.index-body {
  backdrop-filter: blur(0px) grayscale(0) brightness(45%) contrast(85%); }

.index-main {
  grid-row: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center; }
  .index-main__divs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap; }
  .index-main__divs2 {
    position: relative;
    border: 1vh solid rgba(0, 0, 0, 0.5);
    width: 35vh;
    height: 35vh;
    margin: 2.5vh;
    border-radius: 1.5vh;
    background-color: rgba(37, 27, 35, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: 6vh;
    transition-duration: 0.25s; }
    .index-main__divs2:hover {
      transform: scale(110%); }
    .index-main__divs2 img {
      opacity: 0.75;
      height: 30%; }
    .index-main__divs2:hover img {
      opacity: 1; }
    .index-main__divs2--circuitos {
      background-color: rgba(80, 96, 189, 0.85); }
    .index-main__divs2--tutoriales {
      background-color: rgba(209, 123, 42, 0.85); }
    .index-main__divs2--arduino {
      background-color: rgba(35, 104, 87, 0.85); }
    .index-main__divs2--contacto {
      background-color: rgba(116, 76, 102, 0.85); }

/******************************************************CSS PAGES (NO INDEX)********************************************************************/
.pages-body, .index-body {
  background-image: url("../images/PCB3.webp");
  background-repeat: no-repeat;
  background-size: cover;
  height: fit-content;
  display: grid;
  grid-template-rows: 20vh minmax(4.5vh, auto) minmax(68.5vh, auto) 7vh;
  backdrop-filter: blur(0px) grayscale(0) brightness(35%) contrast(85%); }

.pages-main {
  grid-row: 3;
  height: fit-content;
  padding-top: 7vmin;
  padding-bottom: 7vmin; }
  .pages-main__flex {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap; }
    .pages-main__flex__videos {
      margin: 2vmin;
      outline: 2px solid #5a5a5a;
      border-radius: 15px;
      height: 40vmin;
      width: 75vmin;
      transition-duration: 0.25s; }
      .pages-main__flex__videos:hover {
        transform: scale(105%); }
    .pages-main__flex__titulos {
      font-size: 3.5vh;
      width: 100%;
      padding: 0.2rem;
      background-color: #223855;
      color: #fffefe;
      outline: 2px solid #5a5a5a;
      border-radius: 1vh 1vh 0 0; }
    .pages-main__flex__descripciones {
      font-size: 2.25vh;
      padding: 0.5em;
      color: #d4d4d4; }
      .pages-main__flex__descripciones p {
        font-family: Arial, Helvetica, sans-serif; }
  .pages-main__flexTitulo {
    display: flex;
    justify-content: center;
    align-items: center; }
  .pages-main__titulo {
    color: rgba(255, 255, 255, 0.85);
    font-size: 5vh;
    font-weight: lighter;
    text-align: center;
    margin: 0 1vh;
    max-width: 150vh; }
  .pages-main__div {
    position: relative;
    max-width: 45vh;
    text-align: center;
    border-radius: 1vh;
    margin: 2vh;
    background-color: rgba(32, 32, 32, 0.637);
    outline: 2px solid #5a5a5a;
    transition-duration: 0.25s;
    height: 50vh; }
    .pages-main__div:hover {
      transform: scale(105%); }
    .pages-main__div img {
      height: 50%;
      width: 100%;
      object-fit: cover; }

.quienesSomos-main {
  grid-row: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7vmin 2vmin; }

/************************************************** Contacto.html *****************************************************************************/
.contacto-main {
  grid-row: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 3.5vmin; }

form {
  background-color: rgba(0, 0, 0, 0.514);
  padding: 3vh;
  border-radius: 10px;
  color: #d6d6d6;
  height: fit-content;
  max-width: 100%;
  border: 2px solid #ff9100;
  transform: scale(90%); }
  form label {
    display: block;
    font-size: 3.5vh; }
  form input {
    display: block;
    width: 75%;
    font-size: 3vh;
    margin-bottom: 2vh;
    border-radius: 5px;
    border-style: none;
    background-color: #e6e6e6; }
    form input:focus {
      outline: 2px solid #ff9100; }
  form textarea {
    width: 100%;
    height: 9vh;
    resize: none;
    border-radius: 5px;
    font-size: 2.5vh !important; }
    form textarea:focus {
      outline: 2px solid #ff9100; }
  form button {
    width: 40%;
    font-size: 3.5vh;
    border-radius: 5px;
    background-color: #141414;
    color: aliceblue;
    border-style: none;
    border: 2px solid #ff9100; }
    form button:hover {
      background-color: #333333; }

/************************************************Animación de "caida" del Logo*************************************************************/
.header__logoIndex {
  animation-name: caida;
  animation-duration: 0.8s;
  animation-timing-function: ease-in; }

@keyframes caida {
  0% {
    opacity: 0;
    transform: translateY(-20vh); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

/***************************************************** Animación de Temblor ************************************************************/
.index-body {
  outline: 1vh solid #2b2b2b;
  animation-name: vibracion;
  animation-delay: 0.8s;
  animation-duration: 2s;
  animation-timing-function: ease-out; }

@keyframes vibracion {
  0% {
    overflow: hidden;
    transform: translateY(0.5vh); }
  1% {
    overflow: hidden;
    transform: translateY(-0.495vh); }
  2% {
    overflow: hidden;
    transform: translateY(0.49vh); }
  3% {
    overflow: hidden;
    transform: translateY(-0.485vh); }
  4% {
    overflow: hidden;
    transform: translateY(0.48vh); }
  5% {
    overflow: hidden;
    transform: translateY(-0.475vh); }
  6% {
    overflow: hidden;
    transform: translateY(0.47vh); }
  7% {
    overflow: hidden;
    transform: translateY(-0.465vh); }
  8% {
    overflow: hidden;
    transform: translateY(0.46vh); }
  9% {
    overflow: hidden;
    transform: translateY(-0.455vh); }
  10% {
    overflow: hidden;
    transform: translateY(0.45vh); }
  11% {
    overflow: hidden;
    transform: translateY(-0.445vh); }
  12% {
    overflow: hidden;
    transform: translateY(0.44vh); }
  13% {
    overflow: hidden;
    transform: translateY(-0.435vh); }
  14% {
    overflow: hidden;
    transform: translateY(0.43vh); }
  15% {
    overflow: hidden;
    transform: translateY(-0.425vh); }
  16% {
    overflow: hidden;
    transform: translateY(0.42vh); }
  17% {
    overflow: hidden;
    transform: translateY(-0.415vh); }
  18% {
    overflow: hidden;
    transform: translateY(0.41vh); }
  19% {
    overflow: hidden;
    transform: translateY(-0.405vh); }
  20% {
    overflow: hidden;
    transform: translateY(0.4vh); }
  21% {
    overflow: hidden;
    transform: translateY(-0.395vh); }
  22% {
    overflow: hidden;
    transform: translateY(0.39vh); }
  23% {
    overflow: hidden;
    transform: translateY(-0.385vh); }
  24% {
    overflow: hidden;
    transform: translateY(0.38vh); }
  25% {
    overflow: hidden;
    transform: translateY(-0.375vh); }
  26% {
    overflow: hidden;
    transform: translateY(0.37vh); }
  27% {
    overflow: hidden;
    transform: translateY(-0.365vh); }
  28% {
    overflow: hidden;
    transform: translateY(0.36vh); }
  29% {
    overflow: hidden;
    transform: translateY(-0.355vh); }
  30% {
    overflow: hidden;
    transform: translateY(0.35vh); }
  31% {
    overflow: hidden;
    transform: translateY(-0.345vh); }
  32% {
    overflow: hidden;
    transform: translateY(0.34vh); }
  33% {
    overflow: hidden;
    transform: translateY(-0.335vh); }
  34% {
    overflow: hidden;
    transform: translateY(0.33vh); }
  35% {
    overflow: hidden;
    transform: translateY(-0.325vh); }
  36% {
    overflow: hidden;
    transform: translateY(0.32vh); }
  37% {
    overflow: hidden;
    transform: translateY(-0.315vh); }
  38% {
    overflow: hidden;
    transform: translateY(0.31vh); }
  39% {
    overflow: hidden;
    transform: translateY(-0.305vh); }
  40% {
    overflow: hidden;
    transform: translateY(0.3vh); }
  41% {
    overflow: hidden;
    transform: translateY(-0.295vh); }
  42% {
    overflow: hidden;
    transform: translateY(0.29vh); }
  43% {
    overflow: hidden;
    transform: translateY(-0.285vh); }
  44% {
    overflow: hidden;
    transform: translateY(0.28vh); }
  45% {
    overflow: hidden;
    transform: translateY(-0.275vh); }
  46% {
    overflow: hidden;
    transform: translateY(0.27vh); }
  47% {
    overflow: hidden;
    transform: translateY(-0.265vh); }
  48% {
    overflow: hidden;
    transform: translateY(0.26vh); }
  49% {
    overflow: hidden;
    transform: translateY(-0.255vh); }
  50% {
    overflow: hidden;
    transform: translateY(0.25vh); }
  51% {
    overflow: hidden;
    transform: translateY(-0.245vh); }
  52% {
    overflow: hidden;
    transform: translateY(0.24vh); }
  53% {
    overflow: hidden;
    transform: translateY(-0.235vh); }
  54% {
    overflow: hidden;
    transform: translateY(0.23vh); }
  55% {
    overflow: hidden;
    transform: translateY(-0.225vh); }
  56% {
    overflow: hidden;
    transform: translateY(0.22vh); }
  57% {
    overflow: hidden;
    transform: translateY(-0.215vh); }
  58% {
    overflow: hidden;
    transform: translateY(0.21vh); }
  59% {
    overflow: hidden;
    transform: translateY(-0.205vh); }
  60% {
    overflow: hidden;
    transform: translateY(0.2vh); }
  61% {
    overflow: hidden;
    transform: translateY(-0.195vh); }
  62% {
    overflow: hidden;
    transform: translateY(0.19vh); }
  63% {
    overflow: hidden;
    transform: translateY(-0.185vh); }
  64% {
    overflow: hidden;
    transform: translateY(0.18vh); }
  65% {
    overflow: hidden;
    transform: translateY(-0.175vh); }
  66% {
    overflow: hidden;
    transform: translateY(0.17vh); }
  67% {
    overflow: hidden;
    transform: translateY(-0.165vh); }
  68% {
    overflow: hidden;
    transform: translateY(0.16vh); }
  69% {
    overflow: hidden;
    transform: translateY(-0.155vh); }
  70% {
    overflow: hidden;
    transform: translateY(0.15vh); }
  71% {
    overflow: hidden;
    transform: translateY(-0.145vh); }
  72% {
    overflow: hidden;
    transform: translateY(0.14vh); }
  73% {
    overflow: hidden;
    transform: translateY(-0.135vh); }
  74% {
    overflow: hidden;
    transform: translateY(0.13vh); }
  75% {
    overflow: hidden;
    transform: translateY(-0.125vh); }
  76% {
    overflow: hidden;
    transform: translateY(0.12vh); }
  77% {
    overflow: hidden;
    transform: translateY(-0.115vh); }
  78% {
    overflow: hidden;
    transform: translateY(0.11vh); }
  79% {
    overflow: hidden;
    transform: translateY(-0.105vh); }
  80% {
    overflow: hidden;
    transform: translateY(0.1vh); }
  81% {
    overflow: hidden;
    transform: translateY(-0.095vh); }
  82% {
    overflow: hidden;
    transform: translateY(0.09vh); }
  83% {
    overflow: hidden;
    transform: translateY(-0.085vh); }
  84% {
    overflow: hidden;
    transform: translateY(0.08vh); }
  85% {
    overflow: hidden;
    transform: translateY(-0.075vh); }
  86% {
    overflow: hidden;
    transform: translateY(0.07vh); }
  87% {
    overflow: hidden;
    transform: translateY(-0.065vh); }
  88% {
    overflow: hidden;
    transform: translateY(0.06vh); }
  89% {
    overflow: hidden;
    transform: translateY(-0.055vh); }
  90% {
    overflow: hidden;
    transform: translateY(0.05vh); }
  91% {
    overflow: hidden;
    transform: translateY(-0.045vh); }
  92% {
    overflow: hidden;
    transform: translateY(0.04vh); }
  93% {
    overflow: hidden;
    transform: translateY(-0.035vh); }
  94% {
    overflow: hidden;
    transform: translateY(0.03vh); }
  95% {
    overflow: hidden;
    transform: translateY(-0.025vh); }
  96% {
    overflow: hidden;
    transform: translateY(0.02vh); }
  97% {
    overflow: hidden;
    transform: translateY(-0.015vh); }
  98% {
    overflow: hidden;
    transform: translateY(0.01vh); }
  99% {
    overflow: hidden;
    transform: translateY(-0.005vh); }
  100% {
    overflow: hidden;
    transform: translateY(0vh); } }

/**************************************************************** @media  *********************************************************************/
@media only screen and (orientation: portrait) {
  .index-main__divs2 {
    width: 20vh;
    height: 20vh;
    font-size: 4vh;
    margin: 1vh; }
  footer a {
    height: 75%;
    margin: 0 4vmin; }
  .pages-titulo {
    font-size: 3.5vh; }
  .pages-main__div {
    height: fit-content; }
    .pages-main__div img {
      height: 30vh; } }

@media only screen and (max-width: 991px) {
  .bg-nav {
    position: absolute;
    background-color: rgba(41, 41, 41, 0.99);
    border-radius: 0.5vh;
    margin: 1.5vh;
    width: 75vw;
    top: 3.5vh; }
  .dropdown-item {
    background-color: rgba(44, 52, 80, 0.975) !important; }
  .dropdown-item:hover {
    background-color: rgba(75, 78, 90, 0.975) !important; }
  ul li {
    text-align: center; }
  .nav-item:hover {
    background-color: #1a1a1a; }
  .nav-link {
    margin: 0 1vh; }
  .dropdownLink {
    margin-right: 0;
    margin-left: 1vh; }
  .dropdownButt {
    margin-left: 0;
    margin-right: 1vh; } }

@media only screen and (orientation: landscape) and (max-width: 991px) {
  .bg-nav {
    width: 50vw; } }

@media only screen and (min-width: 992px) {
  .dropdownLinkButt {
    display: flex; }
  .dropdown-menu {
    border: 1px solid rgba(255, 145, 0, 0.781) !important;
    background-color: rgba(44, 52, 80, 0.975) !important; } }
