*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Bebas Neue', cursive;
}

header {                                                                    
    grid-row: 1;
    background-color: rgba(53, 53, 53, 0.9);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header a {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__logo {
    max-width: 100%;
    height: 90%;
}

nav {
    grid-row: 2;
    background-color: rgba(87, 86, 86,0.75);
    display: flex; 
    justify-content: center;
    align-items: center;
}

.nav__ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.nav__menu {
    display: inline-block;
    transition-duration: 0.5s;
}   

.nav__menu a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 3.5vh;                                
    padding: 0 2.5vmin;
}

.nav__menu:hover .nav__submenu{
    display:flex;
}

.nav__menu:hover {
    background-color: rgba(61, 61, 61, 0.75)
}

.nav__submenu {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 3.5vmin;
    background-color: rgba(49, 49, 49, 0.938);
    color: white;
    list-style: none;
    display: none;
    z-index: 100;
    text-align: left;
}

.nav__submenu a {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.nav__submenu li {
    padding: 0.3em 0 0.3em 0;
}

.nav__submenu a:hover {
    background-color: rgba(110, 159, 214, 0.75); 
}

footer {
    grid-row: 4;
    background-color: rgba(27, 27, 27, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
}    

footer a {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 6vh;
}

.footer__logos {
    height: 90%;
    opacity: 0.75;
}

.footer__logos:hover {
    opacity: 1;
}


/*********************************************************** index.html *******************************************************/


.index-body {
    background-image: url("../images/PCB3.webp");
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(0px) grayscale(0) brightness(45%) contrast(85%);
    height:fit-content;
    display: grid;
    grid-template-rows: 20vh minmax(4.5vh, auto) minmax(68.5vh, auto) 7vh;      /*header 20vh de altura*/
}                                                                               /*nav 4.5vh de altura*/
                                                                                /*main 68.5vh de altura*/
                                                                                /*footer 7vh de altura*/
                                                                                /*TOTAL 100vh*/

.index-main {
    grid-row: 3;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}  

.index-main__divs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.index-main__divs2 {
    position: relative;
    border: 1vh solid rgba(0, 0, 0, 0.5);
    width: 35vh;
    height: 35vh;
    margin: 2.5vh;
    border-radius: 1.5vh;
    background-color: rgba(37, 27, 35, 0.75);
    display: flex;
    color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 6vh;
    transition-duration: 0.25s;
}

.index-main__divs2 img {
    opacity: 0.75;
    height: 30%;
}

.index-main__divs2:hover {
    transform: scale(110%);
}

.index-main__divs2:hover img {
    opacity: 1;
}

.circuitos {
    background-color: rgba(80, 96, 189, 0.85);
}

.tutoriales {
    background-color: rgba(209, 123, 42, 0.85);
}

.arduino {
    background-color: rgba(35, 104, 87, 0.85);
}

.contacto {
    background-color: rgba(116, 76, 102, 0.85);
}


/******************************************************CSS PAGES (NO INDEX)********************************************************************/


.pages-body {
    background-image: url("../images/PCB3.webp");
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(0px) grayscale(0) brightness(35%) contrast(85%);
    height:fit-content;
    display: grid;
    grid-template-rows: 20vh minmax(4.5vh, auto) minmax(68.5vh, auto) 7vh;      /*header 20vh de altura*/
}                                                                               /*nav 4.5vh de altura*/
                                                                                /*main 68.5vh de altura*/
                                                                                /*footer 7vh de altura*/
                                                                                /*TOTAL 100vh*/

.pages-main__flexTitulo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pages-titulo {
    color: rgba(255, 255, 255, 0.85);
    font-size: 5vh;
    font-weight: lighter;
    text-align: center;
    margin: 0 1vh;  
    max-width: 150vh;
}

.quienesSomos-main {
    grid-row: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7vmin 2vmin;
}

.contacto-main {
    grid-row: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3.5vmin;
}

.pages-main {
    grid-row: 3;
    height: fit-content;
    padding-top: 7vmin;
    padding-bottom: 7vmin;
}

.pages-main__flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
}

.pages-main__flex__videos {
    margin: 2vmin;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 15px ;
    height: 40vmin;
    width: 75vmin;
    transition-duration:  0.25s;
}
    
.pages-main__flex__videos:hover {
    transform: scale(105%);
}

.pages-main__div { 
    position: relative;
    max-width: 45vh;
    text-align: center;
    border-radius: 1vh;
    margin: 2vh;
    background-color: rgba(32, 32, 32, 0.637);
    outline: 2px solid rgb(77, 77, 77);        
    transition-duration: 0.25s;
    height: 50vh;
}

.pages-main__div:hover {
    transform: scale(105%);
}

.pages-main__div img {
    height: 50%;
    width: 100%;
    object-fit: cover;
}

.pages-main__flex__titulos {
    font-size: 3.5vh;
    width: 100%;
    padding: 0.2rem;
    background-color: rgba(34, 56, 85, 1);
    color: rgb(255, 254, 254);
    outline: 2px solid rgb(77, 77, 77);
    border-radius: 1vh 1vh 0 0;
}

.pages-main__flex__descripciones {  
    font-size: 2.25vh;
    padding: 0.5em;
    color: rgb(212, 212, 212);
}

.pages-main__flex__descripciones p {
    font-family:Arial, Helvetica, sans-serif;
}


/************************************************** Contacto.html (Formulario)********************************************************************/


form label {
    display: block;
    font-size: 3.5vh;
}

form input {
    display: block;
    width: 75%;
    font-size: 3vh;
    margin-bottom: 2vh;
    border-radius: 5px;
    border-style: none;
    background-color: rgb(230, 230, 230);
}    

textarea {
    width: 100%;
    height: 9vh;
    resize: none;
    border-radius: 5px;
    font-size: 2.5vh;
}

form {
    background-color: rgba(0, 0, 0, 0.514);
    padding: 3vh;
    border-radius: 10px;
    color: rgb(214, 214, 214);
    height:fit-content; 
    max-width: 100%;
    border: 1px solid rgb(255, 145, 0); 
    transform: scale(90%);
}

button {
    width: 40%;
    font-size: 3.5vh;
    border-radius: 5px;
    background-color: rgb(31, 31, 31);
    color: aliceblue;
    border-style: none;
    border: 1px solid rgb(255, 145, 0);
}

input:focus, textarea:focus {
    outline: 1px solid rgb(255, 136, 0);
}


/***********************************************************************************************************************************************/


@media only screen and (orientation: portrait) {

    .nav__menu a {
        font-size: 3vh;
        padding: 0 2vmin;
    }

    .index-main__divs2 {
        width: 20vh;    
        height: 20vh; 
        font-size: 4vh;
        margin: 1vh;
    }

    footer a {
        height: 75%;
        margin: 0 4vmin;
    }

    .menu_quienes_somos {
        display: none;
    }

    .pages-titulo {
        font-size: 3.5vh;
    }

    .pages-main__div { 
        height: fit-content;
    }

}

