@import "../parciales/variables";
@import "../parciales/reset";
@import "../parciales/header";
@import "../parciales/nav";
@import "../parciales/footer";
@import "../parciales/index";
@import "../parciales/pages";
@import "../parciales/contacto";
@import "../parciales/media";