/******************************************************** Animaciones *******************************************************************/

.header__logoIndex {
    @extend .header__logo;
    animation-name: caida;
    animation-duration: 0.8s;
    animation-timing-function: ease-in;
}

@keyframes caida {
    0% {
        opacity: 0;
        transform: translateY(-20vh);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.index-body {
    animation-name: vibracion;
    animation-delay: 0.8s;
    animation-duration: 50ms;
    animation-iteration-count: 15;
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes vibracion { 
    0% { 
        outline: 1vh solid rgb(43, 43, 43);
        overflow: hidden;
        transform: translateY(0.5vh);
    }
    100% {        
        outline: 1vh solid rgb(43, 43, 43);
        overflow: hidden;
        transform: translateY(-0.5vh);
    }
}
