.contacto-main {
    grid-row: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3.5vmin;
}

form {
    background-color: rgba(0, 0, 0, 0.514);
    padding: 3vh;
    border-radius: 10px;
    color: rgb(214, 214, 214);
    height:fit-content; 
    max-width: 100%;
    border: 1px solid rgb(255, 145, 0); 
    transform: scale(90%);

    label {
        display: block;
        font-size: 3.5vh;
    }

    input {
        display: block;
        width: 75%;
        font-size: 3vh;
        margin-bottom: 2vh;
        border-radius: 5px;
        border-style: none;
        background-color: rgb(230, 230, 230);
    }    
    
    textarea {
        width: 100%;
        height: 9vh;
        resize: none;
        border-radius: 5px;
        font-size: 2.5vh !important;
    }
    
    button {
        width: 40%;
        font-size: 3.5vh;
        border-radius: 5px;
        background-color: rgb(31, 31, 31);
        color: aliceblue;
        border-style: none;
        border: 1px solid rgb(255, 145, 0);
    }
}

input:focus, textarea:focus {
    outline: 1px solid rgb(255, 136, 0);
}