
footer {
    grid-row: 4;
    background-color: rgba(27, 27, 27, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 6vh;

        .footer__logos {
            height: 90%;
            opacity: 0.75;
        }
    }
}

.footer__logos:hover {
    opacity: 1;
}
