/**************************************************************** Footer ************************************************************************/

footer {
    grid-row: 4;
    background-color: rgba(27, 27, 27, 0.75);
    @include flexcenter;

    a {
        height: 100%;
        @include flexcenter;
        margin: 0 6vh;

        .footer__logos {
            height: 90%;
            opacity: 0.75;

            &:hover {
                opacity: 1;
            }
        }
    }
}

