header {                                                                    
    grid-row: 1;
    background-color: rgba(53, 53, 53, 0.9);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    a {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
        .header__logo {
            max-width: 100%;
            height: 90%;
        }
    }
}
