/********************************************************* Index.html **************************************************************************/

/*header 20vh de altura*/
/*nav 4.5vh de altura*/
/*main 68.5vh de altura*/
/*footer 7vh de altura*/
/*TOTAL 100vh*/

.index-body {
    @extend .pages-body;        
    backdrop-filter: blur(0px) grayscale(0) brightness(45%) contrast(85%);
}     

.index-main {
    grid-row: 3;
    @include flexcenter;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    
    &__divs {
        @include flexcenter;
        flex-direction: row;
        flex-wrap: wrap;
    }

    &__divs2 {
        position: relative;
        border: 1vh solid rgba(0, 0, 0, 0.5);
        width: 35vh;
        height: 35vh;
        margin: 2.5vh;
        border-radius: 1.5vh;
        background-color: rgba(37, 27, 35, 0.75);
        @include flexcenter;
        flex-direction: column;
        color: rgb(255, 255, 255);
        font-size: 6vh;
        transition-duration: 0.25s;
        
        &:hover {
            transform: scale(110%);
        }

        & img {
            opacity: 0.75;
            height: 30%;
        }
        
        &:hover img {
            opacity: 1;
        }
        
        &--circuitos {
            background-color: map-get($Index_bloques, azul);
        }
        
        &--tutoriales {
            background-color: map-get($Index_bloques, naranja);
        }
        
        &--arduino {
            background-color: map-get($Index_bloques, verde);
        }
        
        &--contacto {
            background-color: map-get($Index_bloques, violeta);
        }
    }
}  
