

@media only screen and (orientation: portrait) {

    .index-main__divs2 {
        width: 20vh;    
        height: 20vh; 
        font-size: 4vh;
        margin: 1vh;
    }

    footer a {
        height: 75%;
        margin: 0 4vmin;
    }

    .pages-titulo {
        font-size: 3.5vh;
    }

    .pages-main__div { 
        height: fit-content;
    }

}


@media only screen and (max-width: 991px) {

    .bg-nav {
        position: absolute;
        background-color: rgba(41, 41, 41, 0.99);
        border-radius: 0.5vh;
        margin: 1.5vh;
        width: 75vw;
        top: 3.5vh;
    }

    .dropdown-item {
        background-color: rgba(44, 52, 80, 0.975) !important;
    }

    .dropdown-item:hover {
        background-color: rgba(75, 78, 90, 0.975) !important;
    }

    ul li {
        text-align: center;
    }

    .nav-item:hover {
        background-color: rgb(26, 26, 26);
    }

    .nav-link {
        margin: 0 1vh;
    }

    .dropdownLink {
        margin-right: 0;
        margin-left: 1vh;
    }
        
    .dropdownButt {
        margin-left: 0;
        margin-right: 1vh;
    }
        
}


@media only screen and (orientation: landscape) and (max-width: 991px) {

    .bg-nav { 
        width: 50vw;
    }
 
}    


@media only screen and (min-width: 992px) {

    .dropdownLinkButt {
        display: flex;
    }

    .dropdown-menu {
        border: 1px solid rgba(255, 145, 0, 0.781) !important;
        background-color: rgba(44, 52, 80, 0.975) !important;
    }

}

