
/*************************************************Personalización de navbar bootstrap**************************************************************/

nav {
    grid-row: 2;
    background-color: rgba(86, 86, 86,0.75);
    padding: 0 !important;
    min-height: 4.5vh;
    z-index: 100;

    a {
        font-size: 3.5vh !important;
        color: rgb(221, 220, 220) !important;
    }
}


.navbar-toggler {
    height: 4vh;
    @include flexcenter;
    background-color: rgba(34, 34, 34, 0.75) !important;
    width: 10vh;
}

.nav-link {
    padding: 0 !important;
    margin: 0 5vh;
    min-height: 4.5vh;
    line-height: 4.5vh;
}

.dropdown-menu {
    padding: 0 !important;
}

.dropdown-item {
    padding: 1vh !important;  
    font-size: 3vh !important;
}
     
.dropdownLink {
    margin-right: 0;
}

.dropdownButt {
    margin-left: 0;
}

.dropdown-divider {
    border: 1px solid rgb(117, 117, 117);
    margin: 0 !important;
}
  
.nav-item {
    min-height: 4.5vh;
    line-height: 4.5vh;
    transition-duration: 0.5s;
}
 
.nav-item:hover {
    background-color: rgb(53, 53, 53);
}

.navbar-toggler:hover{
    border: 1px solid rgba(199, 117, 9, 0.781);
}
