/******************************************************CSS PAGES (NO INDEX)********************************************************************/

.pages-body {
    @extend .index-body;      
    backdrop-filter: blur(0px) grayscale(0) brightness(35%) contrast(85%);
}

.pages-main {
    grid-row: 3;
    height: fit-content;
    padding-top: 7vmin;
    padding-bottom: 7vmin;
    
    &__flex {
        display: flex;
        justify-content:center;
        flex-direction: row;
        flex-wrap: wrap;

        &__videos {
            margin: 2vmin;
            outline: $outline_pages;
            border-radius: 15px ;
            height: 40vmin;
            width: 75vmin;
            transition-duration:  0.25s;

            &:hover {
                transform: scale(105%);
            }
        }

        &__titulos {
            font-size: 3.5vh;
            width: 100%;
            padding: 0.2rem;
            background-color: rgba(34, 56, 85, 1);
            color: rgb(255, 254, 254);
            outline: $outline_pages;
            border-radius: 1vh 1vh 0 0;
        }
    
        &__descripciones {  
            font-size: 2.25vh;
            padding: 0.5em;
            color: rgb(212, 212, 212);
        
            & p {
                font-family:Arial, Helvetica, sans-serif;
            }
        }
    }

    &__flexTitulo {
        @include flexcenter;
    }
    
    &__titulo {
        color: rgba(255, 255, 255, 0.85);
        font-size: 5vh;
        font-weight: lighter;
        text-align: center;
        margin: 0 1vh;  
        max-width: 150vh;
    }

    &__div { 
        position: relative;
        max-width: 45vh;
        text-align: center;
        border-radius: 1vh;
        margin: 2vh;
        background-color: rgba(32, 32, 32, 0.637);
        outline: $outline_pages;        
        transition-duration: 0.25s;
        height: 50vh;

        &:hover {
            transform: scale(105%);
        }

        & img {
            height: 50%;
            width: 100%;
            object-fit: cover;
        }
    }
}

.quienesSomos-main {
    grid-row: 3;
    @include flexcenter;
    padding: 7vmin 2vmin;
}



    
